<div class="wrapper" ng-init='init()'>
    <div class="band-header">
        <h3>點選你想看的樂團</h3>
    </div>
    <div class="content">
      <div class="content-wrapper" >
        
        <div ng-repeat="band in bands" ng-click="bandClick(band)" 
          ng-class="{'band-block-non': !band.selected,'band-block-selected': band.selected}">
          
          	<div class="center-cropped" ng-style="{'background-image': 'url(' + band.photo_url + ')'}"/>

          	​<span class="band-name"> {{band.name}} </span>​
          	<div ng-class="{'check-non': !band.selected,'check-selected': band.selected}"> 
          	<img id='check' ng-src="images/check.png"/>
          	</div >

 		  </div>
          
        </div>
    </div>
    <div class="footer" >
        <h3>產生我的攻略</h3> <img id='next' ng-src="images/next_step.png" ng-click="submitBandList()"/>       
    </div>
</div>
