<div class="schedule">
  <div class="header">
    <div class="previous-date" ng-click="moveIndexBackward()" ng-show="hasPreviousDate()">previous</div>
      {{ getCurrentPerformDate().name }}
    <div class="next-date" ng-click="moveIndexForward()" ng-show="hasNextDate()">next</div>
  </div>

  <div class="bands">
    <div class="times">
      <p class="hour" ng-repeat="hour in getCurrentPerformDate().getHours()">{{ hour }}</p>
    </div>

    <div class="stage" ng-repeat="stage in getCurrentPerformDate().getStages()">
      <div ng-repeat="span in stage.getTimeSpans()" class="{{ span.type }} height-{{span.span * 10}}">
        {{span.name}}
        {{span.startTime}}
        -
        {{span.endTime}}
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>

