<h2>schedule</h2>

<a href="#/bands">bands</a>
<a href="#/login">login</a>

<div class="schedule">
  <div class="header date">
    8/2
  </div>

  <div class="bands">
    <div class="times">
      <p class="hour" ng-repeat="hour in HOURS">{{ hour }}</p>
    </div>

    <div class="stage" ng-repeat="spanMap in schedule['8/2']">
      <div ng-repeat="span in spanMap.timeSpans" ng-class="span.getCSS()">
        {{ span.name }}
      </div>
      <!-- <div class="empty height-40"></div> -->
      <!-- <div class="band height-30">Tizzy Bac</div> -->
      <!-- <div class="empty height-20"></div> -->
      <!-- <div class="band height-50">Suede</div> -->
    </div>
    <div class="stage"></div>
    <div class="stage"></div>
    <div class="stage"></div>
    <div class="stage"></div>
    <div class="stage"></div>
    <div class="stage"></div>
    <div class="clear"></div>
  </div>
</div>

