<div class="schedule">
  <div class="header">
    <div class="previous-date" ng-click="moveIndexBackward()" ng-show="hasPreviousDate()">
      <img src="images/pre_day.png" alt="" />
    </div>
      {{ getCurrentPerformDate().name }}
    <div class="next-date" ng-click="moveIndexForward()" ng-show="hasNextDate()">
      <img src="images/next_day.png" alt="" />
    </div>
  </div>

  <div class="bands">
    <div class="times">
      <p class="hour" ng-repeat="hour in getCurrentPerformDate().getHours()">{{ hour }}</p>
    </div>

    <div ng-repeat="stage in getCurrentPerformDate().getStages()" class="stage {{getStageKey(stage)}}" >
      <div ng-repeat="span in stage.getTimeSpans()" class="{{ span.type }} height-{{span.span * 10}}">
        {{span.name}}
        {{span.startTime}}
        -
        {{span.endTime}}
      </div>
    </div>

    <div class="clear"></div>
  </div>

  <div class="stages">
    <div class="stage-indicator {{getStageKey(stage)}}" ng-repeat="stage in getCurrentPerformDate().getStages()">
      {{ stage.name }}
    </div>
  </div>


  <a class="back-to-bands" href="#/bands">修改攻略</a>

  <div class="map">
    <img src="http://out-source-jude.s3.amazonaws.com/formoz_musico/img/map0726.png" alt="" />
  </div>
</div>

